<!DOCTYPE html>
<html>
<head>
  <title>Wedded</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @home_page ? 'homepage' : '' %>">
   
    
    <nav class="navbar">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-bars"></i>
          </button>
        </div>
        <div class="collapse" id="collapseExample">
          <ul class="nav">
            <li><%= link_to "Home", welcome_index_path %></li>
            <li><%= link_to "RSVP", guests_rsvp_path %></li>
          </ul>
        </div>
    </nav>

    <%= yield %>

</body>
</html>
